# Dependencies
node_modules/
backend/venv/
__pycache__/
*.py[cod]
*$py.class
frontend/.next/

# ENV
.env
.env.local
.env.production
.env.development

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.gemini/
